.header {
  background-color: peru;
}

header {
  background-color: red;
}
header img {
  padding-left: 10px;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 1px;
  border: 0cap;
}
header nav ul {
  display: flex;
  text-align: center;
}
header nav ul li {
  list-style: none;
  transition: color 0.3s ease;
  padding: 3%;
}
@media (max-width: 768px) {
  header nav ul li {
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
  }
  header nav ul li li {
    flex-basis: 100%;
    text-align: center;
  }
}

footer {
  background-color: #b4dccc;
  padding: 20px;
  padding-left: 40%;
  margin-top: 10px;
  box-sizing: border-box;
  list-style: none;
}
footer .redes {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}
footer .redes img {
  height: auto;
  display: inline-block;
  width: 50%;
}
footer .footerrow {
  display: flex;
  flex-wrap: wrap;
}
footer .footerlinks {
  width: 25%;
  padding: 0 10px;
}
footer .footerlinks h4 {
  font-size: 20px;
  margin-bottom: 25px;
  display: inline-block;
  border-bottom: 2px solid black;
}

.body {
  background-color: #68b28b;
}

.contenedor {
  background-color: #68b28b;
}

body {
  background-color: #68b28b;
  margin: 20px;
  padding: 1px;
  font-family: "Work Sans", sans-serif;
  height: 50px;
  box-sizing: border-box;
  padding-bottom: 300px;
}
body p {
  padding-left: 20px;
  padding-bottom: 20px;
}
body .navbar-nav a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  padding-right: 20px;
  font-size: 20px;
}
body .navbar-nav a:hover {
  color: red;
}
body h2 {
  font-size: 55px;
  color: white;
  padding-left: 20px;
  padding-top: 10px;
}
body h1 {
  font-size: 60px;
  color: #88c4a4;
  padding: 15px;
}
body .introdos {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
}
body .menu {
  cursor: pointer;
  display: none;
  margin: 0;
  padding: 0;
}
body .navegacionprincipal {
  width: 80%;
  margin: 2rem auto;
  list-style-type: none;
  text-align: center;
  font-size: 0;
}
body .navegacionprincipal ul li {
  display: inline-block;
  width: 20%;
  position: relative;
  background: #6cb48c;
  position: absolute;
  width: 0%;
  overflow: hidden;
}
body .navegacionprincipal li a {
  display: block;
  text-decoration: none;
  font-size: medium;
  line-height: 2.5rem;
  color: #6cb48c;
}
body .navegacionprincipal li li {
  display: block;
  width: 100%;
}
body .navegacionprincipal li:hover a {
  background: #6cb48c;
  border-radius: 2rem;
  color: #6cb48c;
}
body .navegacionprincipal li:hover ul {
  width: 90%;
  margin: 0 -4rem -4rem -4rem;
  padding: 0 4rem 4rem 4rem;
  z-index: 5;
}
body .navegacionprincipal li li a:hover {
  background: hsl(147, 32%, 56%);
}
body .contendor {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
body .row {
  text-align: center;
  display: flex;
  vertical-align: middle;
  flex-direction: column;
  align-items: center;
}
body .row img {
  border-radius: 3rem;
  width: 30%;
  padding: 20px;
}
body .boton {
  background-color: #bddccc;
  position: absolute;
  color: black;
  padding: 1rem 2rem;
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 3rem;
  width: 30%;
  text-align: center;
  border: none;
  cursor: pointer;
  font-size: 20px;
}
@media (max-width: 600px) {
  body .row {
    width: 100%;
    display: inline-block;
  }
}
body .parteuno {
  margin: 10px;
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  align-items: center;
}
body .parteuno img {
  width: 70%;
  padding-bottom: 30px;
}
body .partedos {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
  flex-direction: column;
}
body .partedos img {
  width: 50%;
  padding: 10px;
  border-radius: 3rem;
  display: flex;
}
body .partedos p {
  flex: 1;
  font-size: 20px;
  color: white;
  padding: 20px;
  border-bottom: 2px solid #bddccc;
}
body .infofotos {
  box-sizing: border-box;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
body .infofotos img {
  width: 70%;
  align-items: center;
}
body .columna {
  flex: 25%;
  padding: 5px;
}
body .columna img {
  margin-top: 5px;
  justify-content: space-between;
  max-width: 100%;
  height: auto;
  border-radius: 1rem;
}
@media (max-width: 600px) {
  body .columna {
    flex: 100%;
  }
}
body .quien {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
body .quien img {
  width: 45%;
  margin-right: 20px;
  border-radius: 3rem;
}
body .quien p {
  flex: 1;
  font-size: 20px;
  color: white;
  padding: 20px;
}
body .introdos {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  justify-content: center;
}
body .intro {
  color: white;
  padding: 20px;
}
body iframe {
  padding-left: 20px;
}

/*# sourceMappingURL=style.css.map */
