

footer {
    display: flex;
    margin-top: 5rem;
    margin-bottom: 1rem;
    flex-direction: column;

    nav {
        text-align: center;

        .redes img {
            display: flex;
            width: 10px;
        }
    }
}