// Nesting o anidamiento: nos yuada a ver de una manera mas visula la cascada de html

// @import "header";
// @import "footer";
// @import "variable";
// @import "body";


header {
    background-color: #6cb48c;
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #6cb48c;
        padding: 10px;
        border: 1px solid #ccc;
        ul {
            display: flex;
            text-align: center;
            li {
                list-style: none;
                cursor: pointer;
                transition: color 0.3s ease;
                padding: 10%;
                &:hover {
                    color: black;
                }
                @media (max-width: 768px) {
                    flex-wrap: wrap; 
                    justify-content: center; 
                    padding: 5px; 
                    li {
                      flex-basis: 100%; 
                      text-align: center;
                    }
                }
            }
        }
    }
}
body {
    // $bg-primary:$bg-primary
    background-color: yellow;
    margin: 20px;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    height: 50px;
    box-sizing: border-box;

}

h1 {
    font-size: 50px;
    color: #88c4a4;
}

h2 {
    font-size: 30px;
    color: white;
}

.menu {
    cursor: pointer;
    display: none;
    margin: 0;
    padding: 0;
}

.navegacionprincipal {
    width:80%;
    margin: 2rem auto;
    list-style-type: none;
    text-align: center;
    font-size: 0;
     ul li{
    display: inline-block;
    width: 20%;
    position: relative;
    background: #6cb48c;
    position: absolute;
    width: 0%;
    overflow: hidden;
    }
     li a {
    display: block;
    text-decoration: none;
    font-size: medium;
    line-height: 2.5rem;
    color: #6cb48c;
    }
     li li{
    display: block;
    width: 100%;  
    }
     li:hover a{
    background: #6cb48c;
    border-radius: 2rem;
    color: #6cb48c;    
    }
     li:hover ul{
    width: 90%;
    margin: 0 -4rem -4rem -4rem;
    padding: 0 4rem 4rem 4rem;
    z-index: 5;   
    }
     li li a:hover{
    background: hsl(147, 32%, 56%);
    }
}

.contendor {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.row {
    text-align: center;
    display: flex;
    vertical-align: middle;
     img{
    border-radius: 3rem;
    width: 50%;
    padding: 10px; 
    }
}

.boton {
    background-color: azure;
    color: black;
    padding: 1rem 5rem;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 3rem;
    width: 50%;
    text-align: center;
    border: none;
    cursor: pointer;
}

@media (max-width: 600px) {
    .row {
        width: 100%;
    }
}

.parteuno {
    margin: 150px;
    display: flex;
    margin-top: 20px;
     img {
    width: 50%;
    }
} 


.partedos {
    display: flex;
     img {
    width: 40%;
    align-items: center;
    padding: 10px;
    border-radius: 3rem;
    }
}

.proximamente {
    display: flex;
    justify-content: center;
     p {
    color: black;
    page-break-inside: avoid;
    margin-top: 500px;
    margin-bottom: 500px;
    left: 0;
    width: 100%;  
    align-items: center;
    }   
}


.infofotos {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
     img {
    width: 50%;   
     }
}


.columna{
    flex: 25%;
    padding: 5px;
     img {
    margin-top: 5px;
    justify-content: space-between;
    max-width: 100%;
    height: auto;
    border-radius: 1rem; 
     }
}


@media (max-width: 600px){
    .columna {
        flex: 100%;
    }
}

.quien {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
     img {
    width: 35%;
    margin-right: 20px;
    border-radius: 3rem;
    }
     p {
    flex: 1;
    font-size: 20px;
    color:orangered;
    } 
}


.introdos {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    justify-content: center; 
}


footer {
    display: flex;
    margin-top: 5rem;
    margin-bottom: 1rem;
    flex-direction: column;
     div {
    height: 100px;
    width: 100px;  
    }
     nav {
    text-align: center;
        .redes img {
        display: flex;
        width: 10px;
        }
    }
}
