// para ver variables mas adelante

$color-primary:#68b28b;
$color-secondary: #a3d0b8;
$color-dark: #6cb48c;
$color-green: #88c4a4;
$color-light: #b4dccc;
$color-light2: #cdc7c5;




$size:
18px
22px
30px
44px


